name: smalltalkCI

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        smalltalk: [ Squeak64-trunk, Squeak64-5.3 ]
    name: Test ${{ matrix.smalltalk }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: hpi-swa/setup-smalltalkCI@v1
        with:
          smalltalk-image: ${{ matrix.smalltalk }}
      - run: smalltalkci -s ${{ matrix.smalltalk }}
        shell: bash
        timeout-minutes: 15
      - run: ./scripts/build_version.sh
        if: startsWith(github.ref, 'refs/tags/') && matrix.smalltalk == 'Squeak64-5.3'
        shell: bash
        timeout-minutes: 5
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/') && matrix.smalltalk == 'Squeak64-5.3'
        with:
          files: |
            deploy/sandblocks-all.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
